
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>user6::resgister</title>
	</head>
	<body>
		<h3>User6 수정</h3>
		<a href ="/Ch07/index">처음으로</a>		
		<a href ="/Ch07/user6/list">User6목록</a>
		<form action="/Ch07/user6/modify" method="post">
		<table border="1">
			<tr>
				<td>아이디</td>
				<td><input type="text" name="uid" th:value="${user6DTO.uid}"></td>
			</tr>
			<tr>
				<td>이름</td>
				<td><input type="text" name="name" th:value="${user6DTO.name}"></td>
			</tr>
			<tr>
				<td>생일</td>
				<td><input type="date" name="birth" th:value="${user6DTO.birth}"></td>
			</tr>
			<tr>
				<td>성별</td>
				<td>
					<label><input type="radio" name="gender" value="M" th:checked="${user6DTO.gender eq 'M'}">남자</label>
					<label><input type="radio" name="gender" value="F" th:checked="${user6DTO.gender eq 'F'}">여자</label>
				</td>
			</tr>
			<tr>
				<td>나이</td>
				<td><input type="text" name="age" th:value="${user6DTO.age}"></td>
			</tr>
			<tr>
				<td>주소</td>
				<td>
					<select name="addr">
						<option value="부산" th:checked="${user6DTO.addr eq '부산'}">부산</option>
						<option value="대구" th:checked="${user6DTO.addr eq '대구'}">대구</option>
						<option value="서울" th:checked="${user6DTO.addr eq '서울'}">서울</option>
						<option value="대전" th:checked="${user6DTO.addr eq '대전'}">대전</option>
						<option value="대구" th:checked="${user6DTO.addr eq '대구'}">대구</option>
						<option value="광주" th:checked="${user6DTO.addr eq '광주'}">광주</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>번호</td>
				<td><input type="text" name="hp" th:value="${user6DTO.hp}"></td>
			</tr>
			<tr>
				<td colspan="2" align="right"><input type="submit" value="등록하기"></td>
			</tr>
		

		</table>
		</form>
	</body>
</html>